@media (max-width: 650px){
    /* header----------------------------------- */
    .header_nav{
        display: none;
    }
    .button_a{
        display: none;
    }
    .burger_icon{
        display: flex;
    }
}
@media (max-width: 498px){
    .section1_text{
        font-size: 28px;
        
    }
}
@media (max-width: 388px){
    .section1_text{
        font-size: 24px;
        line-height: 32px;
    }
}