.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* header--------------------------- */
header {
    display: flex;
    padding: 24px 150px;
    justify-content: space-between;
    align-items: center;
}

.burger_icon {
    display: none;
}

.header_text {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.44px;

}

.header_ul {
    display: flex;
    column-gap: 36px;
}

.header_li_link a {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.44px;
}

.header_button {
    padding: 12px 18px 12px 19px;
    border-radius: 32px;
    background: #524A44;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: -0.44px;
    cursor: pointer;
    border: none;
}

/* section 1 ----------------------------------------- */
.section1 {
    display: flex;
    background-image: url("/images/cover-1440.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 520px;
    align-items: center;
    justify-content: center;

}

.section1_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}

.section1_a {
    align-self: center;
}

.section1_text {
    color: #000;
    text-shadow: 3px 3px 4px #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 56px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
}

.section1_button {
    padding: 12px 30px 12px 31px;
    border-radius: 32px;
    background: #000;
    box-shadow: 0px 4px 4px 0px #FFF;
    color: #F3F3F3;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    cursor: pointer;
}

/* section 2  */
.section_2 {
    display: flex;
    background-color: #000;
    padding: 60px 150px;
    justify-content: center;
    align-items: center;
    column-gap: 160px;
}

.section2_div {
    display: flex;
    flex-direction: column;
    width: 480px;
    row-gap: 20px;
}

.section2_text {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.1px;
}

.section2_p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.section2_img {
    width: 490px;
    height: 400px;
    background-image: url(../images/image\ 1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}

/* section3 ---------------------------------*/
.section3 {
    display: flex;
    margin: 80px 150px;
    column-gap: 30px;
}

.article_container {
    width: calc(1140 / 1440 * 100%);
}

article {
    display: flex;
    flex-direction: column;
    width: 360px;
    background: #E3DAD8;
    gap: 16px;

}

.article_div {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.article_title {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.article_text {
    width: 100%;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
}

/* simagleebi gadaamowme yvelaferze  */
