@media (max-width: 866px){
    .section1_text{
        font-size: 46px;
    }
}
@media (max-width: 745px){
    /* header-------------------- */
    header{
        padding: 24px 24px;
    }
    /* section 1 -------------- */
    .section1{
        height: 320px;
    }
    .section1_text{
        font-size: 36px;
        line-height: 44px;
    }
    .section1_box{
        width: calc(574 / 745 * 100%);
    }
    /* section 2  */
    .section_2{
        padding: 24px 24px;
    }
    .section2_img{
        height: 320px;
    }
    .section2_div{
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    .section2_text{
        width: 100%;
        text-align: center;
    }
    .section2_p{
        width: 100%;
        text-align: center;
    }
    /* section 3 ------------------ */
    .section3 {
        margin: 40px 24px;
        flex-direction: column;
        gap: 20px;
    }
    article{
        width: 100%;
        text-align: center;
    }
    .article_div{
        justify-content: center;
    }
    /* footer------------------- */
    footer{
        flex-direction: column;
        gap: 32px;
    }
}